body{
text-align: center;
    
   
}

form.main {
 background-color: blueviolet;
 border: 1px solid blue ;
 line-height: 2em;
 text-align: center;
 margin: 2% ;
 color: seashell;
 width: 90%;
 

 
}
h1{
    text-decoration: underline;
    color: blueviolet;
    font-size: 50px;
}

